* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.board {
  margin: 50px auto;
  border: 1px solid black;
  display: grid;
  width: 600px;
}

.cell {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  user-select: none;
}

.cell img {
  height: 100%;
  width: 100%;
  pointer-events: none;
  visibility: hidden;
}

.cell-open {
  background: gold;
}
.cell-error {
  background: crimson;
}
.cell-success {
  background: greenyellow;
}
.cell-open img,
.cell-success img,
.cell-error img {
  visibility: unset;
}

.cell-closed {
  background: gray;
  pointer-events: none;
}
.cell-closed img {
  visibility: hidden;
}

/* COSMETICS */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.difficulty button {
  outline: none;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 10px;
}
.difficulty button:hover {
  background: greenyellow;
}
.difficulty-selected {
  background: greenyellow;
}

.events-none {
  pointer-events: none;
}
